---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="K.knock 리버싱 강의">
    <section class="size-full flex flex-col justify-center items-center gap-3">
        <h1 class="text-4xl font-bold">K.knock 리버싱 강의</h1>
        <p>K.knock에서 진행한 강의 목록을 아래에서 확인할 수 있습니다.</p>
        <br />
        <p>1회차 - <a href="#">영상</a>, <a href="https://nas.kknock.org/sharing/Qb4mEIfhv">강의 자료</a></p>
    </section>
</BaseLayout>