---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<BaseLayout title={`Home - ${SITE_TITLE}`}>
  <section class="max-w-2xl space-y-4">
    <h1 class="text-4xl font-semibold">Hello, World!</h1>
    <p class="text-lg leading-8 text-zinc-700 dark:text-zinc-300">
      {SITE_DESCRIPTION}
    </p>
    <br>
    <a href="/rss.xml" class="font-semibold hover:underline">rss</a>
  </section>
</BaseLayout>
