---
import "../styles/global.css"
---

<div class="main">
  <h1>choonarine</h1>
  <p>this is the blog site.</p>
  <br />
  <a href="/blog">go to blog</a>
  <a href="/about">go to about</a>
</div>

<style>
  h1 {
    font-size: 22px;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
  }
</style>
