<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{Astro.props.title ?? "choonarine.github.io"}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>

  <body>
    <slot />
  </body>
</html>
